# Dependencies
node_modules/
.pnpm-store/

# Production Build Output
dist/
dist-ssr/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local Environment Variables
.env
.env.local
.env.*.local
.env.production
.env.development

# Editor & IDE files
.vscode/
.idea/
*.suo
*.ntvsca
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db
